/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log
log/appsignal.log
/.yarn.lock
/.yarnclean
.pry_history
.gitconfig
packer_compiled.lua
.DS_Store
.pyre/
*/**/.pyre/
