/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log
log/appsignal.log
/.yarn.lock
/.yarnclean
.pry_history
.gitconfig
packer_compiled.lua
.DS_Store
.pyre/
*/**/.pyre/
.config/karabiner/automatic_backups/
.config/github-copilot/
.config/op/
.config/gem/
.config/gpt4all.io/
.watchmanconfig
.pyre_configuration
nvim.log
