[Desktop Entry]
Type=Application
Version=1.0
Name=Morgen
Comment=Morgen Startup Script
Exec=/Applications/Morgen.app/Contents/MacOS/Morgen --hidden
StartupNotify=false
Terminal=false